@import url(https://fonts.googleapis.com/css?family=Chicle);
body {
    margin: 0px;
    font-family: 'Chicle', cursive;
    background-image: url(http://www.publicdomainpictures.net/pictures/90000/velka/rays-star-burst-background.jpg);
    background-position: center;

    .canvasContainer {
        padding-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 100px;
        padding-bottom: 50px;
        background: -moz-radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
        background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)); /* Standard syntax */
    }

    @media (max-width: 1100px) {
        .canvasContainer {
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    @media (max-width: 800px) {
        .canvasContainer {
            margin-left: 0;
            margin-right: 0;
        }
    }
}


