.cell {
    height: 10px;
    width: 10px;
    display: inline-block;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag:none;
    -user-drag:none;
}