.colorChoice {
    float: left;
    height: 14px;
    width: 14px;
    border: 1px solid transparent;
}

.chosenColor {
    width: 64px;
    height: 24px;
    margin-top: 120px;
}

.colorChoice.active {
    border: 1px solid white;
}